// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0px;
  padding: 0px;
}

.all {
  background-color: #EAEBEE;
}

header {
  background-color: #4366b2;
  width: 100%;
  margin:0 auto;
  color: white;
  height: 40px;
  position: fixed;
  z-index: 500;
  top:0;
}


.fab-color {
  color: white;
  font-size: 1.8em;
  margin-top: 6px;
}

input[type=search] {
	-webkit-appearance: none;
	display: inline-block;
	margin-right: 0;
	margin-top: 7px;
	padding: 10px;
	width: 60%;
	height: 25px;
	font-size: 100%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-right: none;
  vertical-align: top;
}

input[type=button] {
	-webkit-appearance: none;
	display: inline-block;
	padding: 0 10px;
  vertical-align: top;
  margin-top: 7px;
	width: 50px;
	height: 25px;
	border: none;
	background: #EAEBEE;
  font-size: 1em;
}

.face-img img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 6px;
  vertical-align: middle;
}

.face-img span {
  vertical-align: middle;
}

.login {
  z-index: 600;
  color: white;
}

.face-img a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin: 5px 5px;
  vertical-align: middle;
}

.login a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin: 5px 5px;
  vertical-align: middle;
}

main {
  padding: 50px 20px 0;
}

.left-section {
  height: 100%;
}

.left-section a {
  text-decoration: none;
  color: black;

}

.left-section a span {
  margin-left: 2px;
}

ul {
  list-style: none;
}

.new-post {
  background-color: #f5f6f7;
  height: 30px;
}

.article a{
  font-size: 12px;
  color: gray;
  margin-left: 10px;
}



.post-content {
  background-color: white;
  height: 130px;
}

.post-content img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px 10px;

}

.post-content a {
  background-color: #f5f6f7;
  height: 40px;
  padding: 10px 13px 10px 0;
  border-radius: 30%;
  margin-left: 50px;
}

.post-content span {
}

.stories {
  background-color: white;
  margin-top: 10px;
  height: 250px;
}

.stories img {
  object-fit: cover;
  width: 90px;
  height: 200px;
  margin-left: 15px;
  border-radius: 10%;
}

.stories1 {
  position: relative;
  float: left;
}

.stories1 p {
  position: absolute;
  color: white;
  top: 150px;
  left: 30px;
}

.stories2 {
  position: relative;
  float: left;
}

.stories2 p {
  position: absolute;
  color: white;
  top: 150px;
  left: 30px;
}

.stories3 {
  position: relative;
  float: left;
}

.stories3 p {
  position: absolute;
  color: white;
  top: 150px;
  left: 30px;
}

.stories4 {
  position: relative;
  float: left;
}

.stories4 p {
  position: absolute;
  color: white;
  top: 150px;
  left: 30px;
}

.posted {
  background-color: white;
  margin-top: 10px;
}

.posted img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px 10px;
}

.posted1 img {
  object-fit: cover;
  width: 300px;
  height: 200px;
  border-radius: 0;
}

.clearance {
  background-color: #EAEBEE;
  height: 10px;
}


.new-friends {
  background-color: white;
  height: 300px;
}

.new-friends img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px 10px;
  float: left;
}

.new-friends ul {
  float: left;
}

.new-friends ul button {
}

.friends1 {
  float: left;
  width: 200px;
}

.friends2 {
  float: left;
  width: 200px;
}

.friends3 {
  float: left;
  width: 200px;
}

.side-bar {
  height: 100%;
  border-left: groove 1px white;
}

.side-bar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px 10px;
}

.actions input {
  width: 130px;
  border: solid 1px #dbd4d4;
  background-color: #f3f3f3;
}

p img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.field img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}
